Daily/7.7-7.11/code/data/MNIST
Daily/7.7-7.11/code/data/flower_data
Daily/7.7-7.11/code/data/cifar-10-batches-py
Daily/7.7-7.11/code/data/cifar-10-python.tar.gz
.idea
Daily/7.12-7.14/code/data/model-ydieshvit-gpt2-coco-en
Weekly/ppt